{{ 'custom-footer.css' }}

<footer class="footer">
    <div class="desktop-footer">
        <div class="container">
            <div class="row">
                <div class="col-2">
                    <div class="footer-item">
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <a href="#" class="accordion-toggle">help & support</a>
                            </div>
                            <div class="accordion-body">
                                <div class="body-item">
                                    My Account
                                </div>
                                <div class="body-item">
                                    Delivery info
                                </div>
                                <div class="body-item">
                                    FAQs & contact
                                </div>
                                <div class="body-item">
                                    Track my order
                                </div>
                                <div class="body-item">
                                    View Basket
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="footer-item">
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <a href="#" class="accordion-toggle">legal</a>
                            </div>
                            <div class="accordion-body">
                                <div class="body-item">
                                    Terms conditional
                                </div>
                                <div class="body-item">
                                    Privacy Policy
                                </div>
                                <div class="body-item">
                                    Cookie Policy
                                </div>
                                <div class="body-item">
                                    Accessibility Policy
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-2">
                    <div class="footer-item">
                        <div class="accordion-item">
                            <div class="accordion-header">
                                <a href="#" class="accordion-toggle">about us</a>
                            </div>
                            <div class="accordion-body">
                                <div class="body-item">
                                    Our company
                                </div>
                                <div class="body-item">
                                    Corporate
                                </div>
                                <div class="body-item">
                                    Company info
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
                <div class="col-6">
                    <div class="footer-item">
                        <div class="item-title">Sign up for our latest offers
                        </div>
                        <div class="item-content">
                            <form class="form" action="">
                                <div class="form-group">
                                    <input class="form-control" type="email" placeholder="Enter your email">
                                </div>
                                <span class="sign-info">
                                    For more information about how we use your information, see our Privacy Policy
                                </span>
                                <div class="form-group">
                                    <input type="submit" class="btn-up" value="Sign up">
                                </div>
                            </form>
                        </div>
                        <div class="adt-pages">
                            <div class="social-icon">
                                <div class="icon-item"><img src="assets/images/Vector (1).png" alt=""></div>
                                <div class="icon-item"><img src="assets/images/Vector (2).png" alt=""></div>
                            </div>
                            <div class="payment">100% secure payment options
                            </div>
                            <div class="pages">
                                <div class="page-item"><a href="#"><img src="assets/images/image 9.png" alt=""></a></div>
                                <div class="page-item"><a href="#"><img src="assets/images/image 13.png" alt=""></a></div>
                                <div class="page-item"><a href="#"><img src="assets/images/image 14.png" alt=""></a></div>
                                <div class="page-item"><a href="#"><img src="assets/images/image 12.png" alt=""></a></div>
                                <div class="page-item"><a href="#"><img src="assets/images/Group 1543.png" alt=""></a></div>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        <div class="copyright">
            <div class="container">
                <div class="row">
                    <div class="col-12">
                        <div class="footer-logo">
                            <div class="footer-logo-content">
                                <p>©Boop Beauty ltd. 2024. All right reserved. </p>
                                <p>Boop Beauty® is a registered trademark of Boop Beauty ltd</p>
                            </div>
                            <div class="footer-logo-img">huddled</div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
    </div>
</footer>


{% schema %}
    {
        "name": "Custom Footer",
        "class": "custom__footer",
        "settings": [

        ],
        "presets": [
          {
            "name": "Custom Footer",
          }
        ],
    }
{% endschema %}
