{{ 'page-group.css' |  asset_url |  stylesheet_tag }}

<div class="other-page-intro-inner">
  <div class="page-intro-title">
    {{ section.settings.title }}
  </div>
  <div class="page-intro-group swiper-wrapper">
    {% for block in section.blocks %}
      <div class="page-intro-item swiper-slide">
        <a href=""><img src="{{ block.settings.other_page |  img_url: 'master'}}" alt=""></a>
      </div>
    {% endfor %}
  </div>
</div>

<script>
    var swiper = new Swiper('.other-page-intro-inner', {
        slidesPerView: 5,
        spaceBetween: 30,
        loop : true,
        breakpoints : {
            990 : {
                slidesPerView: 6,
                spaceBetween: 30,
            },
            500 : {
                slidesPerView: 4.5,
                spaceBetween: 30,
            },
            320 : {
                slidesPerView: 2,
                spaceBetween: 30,
            },
        },
    })
</script>

{% schema %}
    {
        "name": "Other Pages Introduce",
        "class": "other-page-intro page-width",
        "settings": [
          {
            "type": "text",
            "id": "title",
            "label": "Title"
          },
        ],
        "blocks": [
          {
            "name": "Other Page",
            "type": "OtherPage",
            "limit": 6,
            "settings": [
               {
                 "type": "image_picker",
                 "id": "other_page",
                 "label": "Page"
               },
            ]
          }
        ],
        "presets": [
          {
            "name": "Other Page Intro",
          }
        ],
    }
{% endschema %}
