.slide-collection-inner {
    overflow: hidden;
    margin-top: 20px;
    padding: 0;
}

.slide-collection-inner .collection-title {
    font-weight: 700;
    font-size: 25px;
    padding-bottom: 10px;
}

.collection-group .collection-item{
    display: flex;
    flex-direction: column;
    height: auto;
}

.collection-item .item-badge {
    position: absolute;
    background-color: #085c5c;
    color: white;
    font-size: 10px;
    font-weight: 500;
    top: 10px;
    padding: 2px 7px;
    border-radius: 0 20px 20px 0;
}

.collection-item .alert {
    position: absolute;
    bottom: 5px;
    left: 50%;
    text-align: center;
    transform: translateX(-50%);
    white-space: nowrap;
    background: gray;
    color: #89ffbc;
    padding: 0 5px;
}

.collection-item .item-img {
    position: relative;
    height: 220px;
    width: 100%;
}

.collection-item .item-img img {
    width: 100%;
    height: 100%;
    object-fit: cover;
}

.collection-item .item-content {
    flex: 1;
    display: flex;
    flex-direction: column;
}

.collection-item .order {
    margin: 0;
    font-size: 11px;
    font-weight: 500;
    color: gray;
    text-align: center;
}

.collection-item .product-condition {
    border-bottom: 1px solid #000000;
    border-top: 1px solid #000000;
    padding-left: 10px;
    margin-top: 10px;
}

.collection-item .product-condition p img {
    margin-right: 5px;
}

.collection-item .product-condition p {
    margin: 0;
    font-size: 11px;
    font-weight: 400;
    color: #000000;
    display: flex;
    align-items: center;
}

.collection-item .card__desc {
    flex: 1;
    padding-left: 10px;
    padding-top: 10px;
    padding-bottom: 10px;
}

.collection-item .card__desc .product-name {
    font-size: 14px;
    font-weight: 700;
    margin: 0;
}

.collection-item .card__desc .product-content p {
    font-size: 16px;
    font-weight: 500;
    margin: 0;
    color: #000000;
    line-height: 20px;
}

.collection-item .card__information {
    padding-left: 10px;
}

.collection-item .card__information .price {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.card__information .new-price {
    font-weight: 700;
    font-size: 24px;
    color: #000000;
}

.card__information .old-price {
    font-weight: 500;
    font-size: 12px;
    color: gray;
}

.card__information .save {
    background-color: #ffd8e1;
    font-size: 12px;
    font-weight: 500;
    width: max-content;
    padding: 0 5px;
    border-radius: 2px;
}

.collection-item .add-to-cart {
    margin-top: 10px;
    background-color: #085c5c;
    display: flex;
    align-items: center;
    justify-content: center;
    border-radius: 5px;
    padding: 0;
}

.collection-item .add-to-cart span {
    color: white;
    text-transform: uppercase;
    text-decoration: none;
}

.collection-item .add-to-cart::before,
.collection-item .add-to-cart::after {
    display: none;
}

.product-color {
    padding: 0 10px;
    display: flex;
    gap: 5px;
    padding-top: 5px;
}

.color-img-item {
    width: 20px;
    height: 20px;
    display: block;
    border-radius: 50%;
    cursor: pointer;
    border: 1px solid gray;
    text-indent: -9999px;
}

.collection-item .featured-img-color {
    height: 100%;
    display: none;
}

@media (max-width:990px) {

    .slide-collection-inner .collection-title {
        font-size: 20px;
    }

    .collection-item .add-to-cart {
        line-height: 1;
    }

    .card__information .new-price {
        font-size: 14px;
    }

    .card__information .old-price {
        font-size: 9px;
    }

    .collection-item .card__desc .product-content p {
        font-size: 12px;
    }
}